<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIDAS</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <style>
        .user-table {

        }
    </style>
</head>

<body>
<div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="#">MIDAS admin</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                 id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">회원관리</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">메뉴관리</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">예약관리</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<main class="page projects-page">
    <table class="table user-table">
        <thead>
            <tr>
                <th>아이디</th>
                <th>이름</th>
                <th>부서</th>
                <th>전화번호</th>
                <th>이메일</th>
                <th>가입일</th>
                <th>생일</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
            {{#users}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{depart}}</td>
                <td>{{mobile}}</td>
                <td>{{email}}</td>
                <td>{{create_dt}}</td>
                <td>{{birth}}</td>
                <td><button class="btn btn-danger btn-delete">삭제</button></td>
            </tr>
            {{/users}}
        </tbody>
    </table>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/script.min.js"></script>
<script>

</script>
</body>

</html>