<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIDAS</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/assets/css/MUSA_panel-table-1.css">
    <link rel="stylesheet" href="/assets/css/MUSA_panel-table.css">
    <link rel="stylesheet" href="/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/assets/css/Registration-Form-with-Photo.css">
</head>

<body>
<div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="#">MIDAS admin</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">회원관리</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">메뉴관리</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">예약관리</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="register-photo">
    <div class="form-container">
        <form action="/admin/menu" method="post" enctype="multipart/form-data">
            <h2 class="text-center"><strong>메뉴등록</strong></h2>
            <div class="form-group"><input class="form-control" type="text" placeholder="메뉴명" name="name"></div>
            <div class="form-group"><input class="form-control" type="text" placeholder="가격" name="price"></div>
            <div class="form-group"><label>분류</label>
                <select class="form-control" name="categoryCode">
                    <optgroup label="This is a group">
                        {{#categories}}
                        <option value="{{code}}" selected="">{{name}}</option>
                        {{/categories}}
                    </optgroup>
                </select>
            </div>
            <div class="form-group"><label>이미지를 선택해주세요</label>
                <input type="file" class="form-control-file" name="file"></div>
            <div class="form-group"><button class="btn btn-info btn-block">등록하기</button></div>
        </form>
    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/theme.js"></script>
</body>

</html>