<!DOCTYPE html>
<html>

<head>
    {{ > /admin/include/header}}
</head>

<body>
{{ > /admin/include/navigation}}

<main class="page projects-page">
    <table class="table user-table tablesorter" id="myTable">
        <thead>
            <tr>
                <th>아이디</th>
                <th>이름</th>
                <th>부서</th>
                <th>전화번호</th>
                <th>이메일</th>
                <th>가입일</th>
                <th>생일</th>
                <th>관리</th>
            </tr>
        </thead>
        <tbody>
            {{#users}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{depart}}</td>
                <td>{{mobile}}</td>
                <td>{{email}}</td>
                <td>{{create_dt}}</td>
                <td>{{birth}}</td>
                <td>
                    <button class="btn btn-info btn-coupon" data-toggle="modal" data-target="#couponModal" data-id="{{id}}">쿠폰발급</button>
                  <button class="btn btn-success btn-modify" data-toggle="modal" data-target="#modifyModal" data-id="{{id}}">수정</button>
                    <button class="btn btn-danger btn-delete" data-id="{{id}}">삭제</button>
                </td>
            </tr>
            {{/users}}
        </tbody>
    </table>
</main>

<div class="modal" id="couponModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">쿠폰 발급</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-container">
                    <div class="form-group">
                        <label>카테고리</label>
                        <select name="categoryCode" class="form-control" id="select-category">
                            <optgroup label="카테고리 선택"></optgroup>
                        </select>
                        <div class="form-group"><label>쿠폰명</label><input type="text" class="form-control" name="name" id="text-name" placeholder="생일축하 쿠폰"></div>
                    <div class="form-group"><label>할인율</label><input type="text" class="form-control" name="discountPercent" id="text-discount" placeholder="100%"></div>
                    <div class="form-group">
                        <label>시작일</label>
                        <input type="text" class="form-control" id="startDate" name="startDate" placeholder="2018-05-26">
                        <label>종료일</label>
                        <input type="text" class="form-control" id="endDate" name="endDate" placeholder="2018-06-26">
                    </div>
                    <div class="form-group"><input type="hidden" id="modified-code"><button class="btn btn-info btn-block" id="btn-issue">발급하기</button></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="modal" id="modifyModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">회원정보 수정</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-container">
          <div class="form-group">
              <div class="form-group"><label>이름</label><input type="hidden" id="text-user-id"><input type="text" class="form-control" name="name" id="text-user-name"></div>
              <div class="form-group"><label>비밀번호</label><input type="text" class="form-control" name="password" id="text-user-password"></div>
              <div class="form-group"><label>부서</label>
                <select name="option-dept" id="option-dept" name="groupCode" class="form-control">
                </select>
              </div>
              <div class="form-group"><label>핸드폰</label><input type="text" class="form-control" name="mobile" id="text-user-phone"></div>
              <div class="form-group"><label>이메일</label><input type="text" class="form-control" name="email" id="text-user-email"></div>
              <div class="form-group"><button class="btn btn-info btn-block" id="btn-modify">수정하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

    {{ > /admin/include/footer }}

<script>
    var userId;
      $('#couponModal').on('shown.bs.modal', function(e) {
        $.ajax({
          url: '/api/category/',
          dataType: 'json',
          success: function(response) {
            var result = response['result'];
            var data = response['message'];
            $('#text-discount').val('');
            if (!result) {
              alert(data);
              return;
            } else {
              $('#select-category option').remove();
              for (var i = 0; i < data.length; i++) {
                var option = '<option value="' + data[i]['code'] +'">' + data[i]['name'] +'</option>'
                $('#select-category').append(option);
              }
            }
          }
        });
      });

      $(document).on('click', '.btn-modify', function() {
        var userId = $($(this).parent()).siblings('td')[0].innerHTML;
        var userName = $($(this).parent()).siblings('td')[1].innerHTML;
        var phone = $($(this).parent()).siblings('td')[3].innerHTML;
        var email = $($(this).parent()).siblings('td')[4].innerHTML;

        $('#text-user-id').val(userId);
        $('#text-user-name').val(userName);
        $('#text-user-phone').val(phone);
        $('#text-user-email').val(email);

        $.ajax({
          url: '/api/dept',
          method: 'get',
          dataType: 'json',
          success: function(response) {
            var data = response['message'];
            for (var i = 0; i < data.length; i++) {
              var html = '<option value="' + data[i]['code'] + '">' + data[i]['name'] + '</option>';
              $('#option-dept').append(html);
            }
          }
        });
      });

      $('#btn-modify').click(function() {
        $.ajax({
          url: '/api/admin/user',
          method: 'put',
          dataType: 'json',
          contentType: 'application/json',
          data: JSON.stringify({
            "id": $('#text-user-id').val(),
            "name": $('#text-user-name').val(),
            "phone": $('#text-user-phone').val(),
            "groupCode": $('#option-dept').val(),
            "email": $('#text-user-email').val()
          }),
          success: function(response) {
            alert(response['message']);
            location.reload();
          }
        });
      });

      $(document).on('click', '.btn-delete', function() {
        var userId = $(this).data('id');
        $.ajax({
          url: '/api/admin/user/' + userId,
          dataType: 'json',
          method: 'delete',
          success: function(response) {
            alert(response['message']);
          }
        });
      });

      $('#btn-issue').click(function() {
        $.ajax({
          url: '/api/admin/coupon',
          dataType: 'json',
          method: 'post',
          contentType: 'application/json',
          data: JSON.stringify({
            "userId": userId,
            "name": $('#text-name').val(),
            "categoryCode": $('#select-category').val(),
            "discountPercent": $('#text-discount').val(),
            "startDate": $('#startDate').val(),
            "endDate": $('#endDate').val()
          }),
          success: function(response) {
            console.log(response['message']);
          }
        });
      });

      $('.btn-coupon').click(function() {
        userId = $(this).data('id');
      });
</script>
</body>

</html>