<!DOCTYPE html>
<html lang="en">
<head>
  {{ > /admin/include/header}}
</head>
<body>

{{ > /admin/include/navigation}}

<div class="jumbotron jumbotron-fluid jumbotron-main">
  <div id="particles-js"><canvas class="particles-js-canvas-el" width="1409" height="319" style="  width:100%;
  height:100%;
"></canvas></div>
  <div class="container center-vertically-holder" style="margin-top:-20px;">
    <div class="row center-vertically">
      <div class="col-md-8 offset-sm-0 offset-md-2 text-center" style="margin-top:100px;margin-bottom:100px;">
        <h1>MIDAS CAFE</h1>
        <h1>관리자 페이지</h1>
      </div>
    </div>
  </div>
</div>

{{ > /admin/include/footer}}
</body>
</html>