<!DOCTYPE html>
<html>

<head>
  {{ > /user/include/header}}

  <style>
    .t {
      margin-top:100px;
    }
  </style>
</head>

<body>
{{ > /user/include/navigation}}
    <div class="container"><link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
<!--예약취소는 시간나면 합시다.-->
<div class="container t">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table">
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-xs-6">
                    <h3 class="panel-title">예약목록 조회</h3>
                  </div>
                  <div class="col col-xs-6 text-right">
                      <button class="btn btn-sm btn-primary btn-create" type="button" onclick="page.goAdd()">예약 등록</button>
                      <!--<button class="btn btn-sm btn-primary btn-create" type="button" onclick="page.doCancel()">예약 취소</button>-->
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <table class="table table-striped table-bordered table-list">
                  <thead>
                    <tr>
                        <!--<th><em class="fa fa-cog"></em></th>-->
                        <th>요청일시</th>
                        <th>예약일시</th>
                        <th>상태</th>
                        <th>옵션</th>
                        <!--<th>처리완료일시</th>-->
                        <!--<th>취소사유(관리자)</th>-->
                        <!--<th>취소사유(사용자)</th>-->
                        <th></th>
                    </tr> 
                  </thead>
                  <tbody>
                          {{#list}}
                          <tr>
                            <!--<td align="center">-->
                                <!--<input type="checkbox" class="check-box" value="{{code}}"></a>-->
                            <!--</td>-->
                            <td>{{createDt}}</td>
                            <td>{{reserveDt}}</td>
                            <td>{{status.label}}</td>
                            <td>{{description}}</td>
                            <!--<td>{{endDtStr}}</td>-->
                            <!--<td>{{adminCancelDesc}}</td>-->
                            <!--<td>{{userCancelDesc}}</td>-->
                            <td>
                              <a class="btn btn-info" data-toggle="modal" data-target="#exampleModal" onclick="doDetail('{{code}}')">상세</a><br/>
                              <a class="btn btn-danger" data-toggle="modal" onclick="doDel('{{code}}')">X</a>
                            </td>
                          </tr>
                          {{/list}}
                    </tbody>
                </table>
            
              </div>
              <div class="panel-footer">
                <div class="row">
                </div>
              </div>
            </div>

</div></div></div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script>
        var page =
            {
                goAdd: function () {
                    window.location.href = '/user/reservation/add';
                }
            };
        function doDel(code)
        {
            var $form = $('<form></form>');
            $form.attr('action', '/user/reservation/cancel');
            $form.attr('method', 'post');
            $form.appendTo('body');

            var code = $('<input type="hidden" value="' + code + '" name="code">');

            $form.append(code);
            $form.submit();

        }

        function  doDetail(code)
        {
            $.ajax({
                url: '/api/reservation/'+ code,
                dataType: 'json',
                success: function (response) {
                    var result = response['result'];
                    var data = response['message'];
                    // $('#text-discount').val('');
                    if (!result)
                    {
                        alert(data);
                        return;
                    }
                    else
                    {
                        $('#detailbody').html('');
                        for (var i = 0; i < data.length; i++)
                        {
                            var body = '<tr><td>' + data[i]['category_name'] + '</td><td>' + data[i]['cafe_name'] + '</td><td>' + data[i]['price'] +'</td><td>'+ data[i]['amount'] + '</td>';
                            $('#detailbody').append(body);
                        }
                    }
                }
            });
        }

    </script>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">예약 상세정보</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered table-list">
                    <thead>
                    <tr>
                        <th>품목명</th>
                        <th>구분</th>
                        <th>가격</th>
                        <th>수량</th>
                    </tr>
                    </thead>
                    <tbody id="detailbody">
                    <tr>
                        <td>계란빵</td>
                        <td>빵</td>
                        <td>3000원</td>
                        <td>5</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<!--<script src="/assets/js/jquery.min.js"></script>-->
<!--<script src="/assets/bootstrap/js/bootstrap.min.js"></script>-->
<!--<script src="/assets/js/script.min.js"></script>-->
<!--<script src="/assets/js/bootstrap-notify.min.js"></script>-->
</body>
</html>