<!DOCTYPE html>
<html>

<head>
    {{ > /user/include/header}}
    <style>
        .t {
            margin-top: 100px;
        }
    </style>
</head>

<body>
{{ > /user/include/navigation}}
    <main class="page projects-page">
        <section class="portfolio-block projects-cards">
            <div class="container t">
                <div class="heading">
                    <h2>주문접수</h2>
                </div>
                <div class="row product-list">
                    {{#menus}}
                    <div class="col-sm-6 col-md-4 product-item">
                        <div class="product-container">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#" class="product-image">
                                        <img src="{{#file_url}}{{file_url}}{{/file_url}}{{^file_url}}/img/default.png{{/file_url}}">
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <h2><a href="#">{{menu_name}}</a></h2>
                                </div>
                                <div class="col-4"><a href="#" class="small-text">게시중</a></div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <p class="product-description">{{category_name}}</p>
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="product-price">{{price}}원</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <input type="hidden" name="code" value="{{menu_code}}">
                                        <div class="col-6 sum-data" data-attr="{{price}}"><input type="number" min="0" name="amount" class="form-control allSum" placeholder="수량"></div>
                                    </div>
                                </div>
                            </div>
                            <label>주문하기</label><input type="checkbox" class="checkSum"  name="image[]" value=""/>
                        </div>
                    </div>
                    {{/menus}}
                </div>
                <table class="table table-striped table-bordered table-list">
                    <tbody>
                    <tr>
                        <th>총 가격</th>
                        <td style="width:300px" id="sumIs"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </section>
        <div class="form-group"><label>예약일시</label><input class="form-control" placeholder="예약일시" type="text" id="datepicker"></div>
        <div class="form-group"><label>기타요청사항</label><input class="form-control" placeholder="기타요청사항" type="text" id="note"></div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="button" style="background-color:rgb(71,119,244);" onclick="doSave();">등록하기</button>
            <!--<button class="btn btn-primary btn-block" type="submit" style="background-color:rgb(71,119,244);">등록하기</button>-->
        </div>
    </main>

    {{ > /user/include/footer}}

    <script>
        // image picker
        // $(".product-container").on("click", function (e) {
        //   var $checkbox = $(this).find('input[type="checkbox"]');
        //   $checkbox.prop("checked",!$checkbox.prop("checked"))
        //   e.preventDefault();
        // });
        /*$(function () {
            $("#datepicker").datepicker(
                {
                    dateFormat: 'yy-mm-dd'
                }
            );
        });*/

        $('#btn-menu-search').click(function() {
        var menuName = $('#text-menu').val();
        console.log(menuName);
        $.ajax({
          url: '/api/admin/menus/' + menuName,
          dataType: 'json',
          success: function(response) {
            var result = response['result'];
            var data = response['message'];

            if (!result) {
              alert(data);
              return;
            } else {
              $('.product-item').remove();
              for (var i = 0; i < data.length; i++) {
                $('.product-list').append(viewMenus(data[i]));
              }
            }
          }
        });
      });

      $(document).on('click', '#btn-modify', function() {
        var name = $('#modified-name').val();
        var price = $('#modified-price').val();

        console.log(name);
        console.log(price);
      });

      function viewMenus(data) {
        var img_url = data['file_url'] == null ? '/img/default.png' : data['file_url'];
        var template = '<div class="col-sm-6 col-md-4 product-item">\n'
            + '                        <div class="product-container">\n'
            + '                            <div class="row">\n'
            + '                                <div class="col-md-12">\n'
            + '                                    <a href="#" class="product-image">\n'
            + '                                        <img src="' + img_url +'">\n'
            + '                                    </a>\n'
            + '                                </div>\n'
            + '                            </div>\n'
            + '                            <div class="row">\n'
            + '                                <div class="col-8">\n'
            + '                                    <h2><a href="#">' + data['menu_name'] + '</a></h2>\n'
            + '                                </div>\n'
            + '                                <div class="col-4"><a href="#" class="small-text">게시중</a></div>\n'
            + '                            </div>\n'
            + '                            <div class="row">\n'
            + '                                <div class="col-12">\n'
            + '                                    <p class="product-description">' + data['category_name'] + '</p>\n'
            + '                                    <div class="row"><div class="col-12"><p class="product-price">' + data['price'] + '원</p></div></div>\n'
            + '                                    <div class="row">\n'
            + '                                        <input type="hidden" name="code" value="' + data['menu_code'] + '">\n'
            + '                                        <div class="col-6 "<input type="number" name="amount" class="form-control " placeholder="수량"></div>'
            + '                                    </div>\n'
            + '                                </div>\n'
            + '                            </div>\n'
            + '                        </div>\n'
            + '                    </div>'
        return template;
      }
      var sum=0;
      $('#sumIs').text(0);
      $(document).on('click','.allSum',function(){
          sum=0;
          $('.product-item').each(function(index,item){
              if ($(this).find('input:checkbox[name="image[]"]').is(":checked")){
                  var cnt=$(this).find('.allSum').val();
                  var price=$(this).find('.sum-data').attr('data-attr');
                  sum+=(cnt*price);
              }
              $('#sumIs').text(sum);
          })
      })
        $(document).on('click','.checkSum',function(){
            sum=0;
            $('.product-item').each(function(index,item){
                if ($(this).find('input:checkbox[name="image[]"]').is(":checked")){
                    var cnt=$(this).find('.allSum').val();
                    var price=$(this).find('.sum-data').attr('data-attr');
                    sum+=(cnt*price);
                }
                $('#sumIs').text(sum);
            })
        })


      function doSave()
      {
          var saveStr = "";
          $('.product-item').each(function (index,item) {
              if ($(this).find('input:checkbox[name="image[]"]').is(":checked"))
              {
                  var code = $(this).find('input[name="code"]').val();
                  var amount = $(this).find('input[name="amount"]').val();
                  if(amount ==null || amount == "" || amount == undefined){
                    alert('수량을 입력해 주시기 바랍니다.');
                    return false;
                  }
                  if(saveStr != "")
                      saveStr += ",";
                  saveStr += (code+ ":" + amount);
              }
          });

          if(saveStr == "")
          {
              alert('등록할 값이 없습니다.');
              return false;
          }

          alert(saveStr);

          // 예약일시가 입력되었는지 확인한다.
          if($('#datepicker').val() == ""){
              alert('예약일시를 입력해 주시기 바랍니다.');
          }

          var $form = $('<form></form>');
          $form.attr('action', '/user/reservation/add');
          $form.attr('method', 'post');
          $form.appendTo('body');

          var reserveDt = $('<input type="hidden" value="'+ $('#datepicker').val()+'" name="reservedt">');
          var str = $('<input type="hidden" value="'+saveStr+'" name="str">');
          var note = $('<input type="hidden" value="'+ $('#note').val()+'" name="note">');

          $form.append(reserveDt).append(str).append(note);
          $form.submit();
      }

    </script>
</body>

</html>