<!DOCTYPE html>
<html>

<head>
  {{ > /admin/include/header}}
</head>

<body>
{{ > /admin/include/navigation}}

<main class="page projects-page">
  <table class="table user-table">
    <thead>
    <tr>
      <th>번호</th>
      <th>회원</th>
      <th>신청일</th>
      <th>수령일</th>
      <th>상태</th>
      <th>요청사항</th>
      <th>메뉴</th>
      <th>수량</th>
      <th>작업</th>
    </tr>
    </thead>
    <tbody>
    {{#reservation}}
    <tr>
      <td>{{code}}</td>
      <td>{{loginid}}</td>
      <td>{{create_dt}}</td>
      <td>{{reserve_dt}}</td>
      <td>{{status_name}}</td>
      <td>{{description}}</td>
      <td>{{name}}</td>
      <td>{{amount}}</td>
      <td><input type="hidden" value="{{status}}"><button class="btn btn-info btn-process" data-target="#processModal" data-toggle="modal">처리</button></td>
    </tr>
    {{/reservation}}
    </tbody>
  </table>
</main>

<div class="modal" id="processModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">선택</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-container">
          <div class="form-group">
            <div class="row text-center">
              <div class="col-3"><button class="btn btn-primary btn-block btn-change" id="btn-cng-0" data-code="0">접수중</button></div>
              <div class="col-3"><button class="btn btn-primary btn-block btn-change" id="btn-cng-1" data-code="1">제조중</button></div>
              <div class="col-3"><button class="btn btn-primary btn-block btn-change" id="btn-cng-2" data-code="2">제조완료</button></div>
              <div class="col-3"><button class="btn btn-primary btn-block btn-change" id="btn-cng-3" data-code="3">인계완료</button></div>
              <div class="col-3"><button class="btn btn-primary btn-block btn-change" id="btn-cng-4" data-code="4">예약취소</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  {{ > /admin/include/footer }}

<script>
  var reservNo;
  var reservStatus;

  $('.btn-process').click(function() {
    reservNo = $($($(this)).parent().siblings('td')[0]).text();
    reservStatus = $($($(this)).siblings('input')).val();
    $('#btn-cng-' + reservStatus).parent().toggle();
  });

  $('.btn-change').click(function() {
    $.ajax({
      url: '/api/admin/reservation/' + reservNo,
      method: 'put',
      data: {
        "reservStatus" : $(this).data('code')
      },
      success: function(response) {
        alert(response['message']);
        console.log(response);
        location.reload();
      }
    });
  });

  $('#processModal').on('hidden.bs.modal', function () {
    $('#btn-cng-' + reservStatus).parent().toggle();
  });
</script>
</body>

</html>