<div>
  <nav class="navbar navbar-light navbar-expand-md navigation-clean">
    <div class="container"><a class="navbar-brand" href="/admin">MIDAS admin</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav ml-auto">
          <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">메뉴관리</a>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item" role="presentation" href="/admin/menu">메뉴보기</a>
              <a class="dropdown-item" role="presentation" href="/admin/menu/add">메뉴추가</a>
            </div>
          </li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="/admin/user">회원관리</a></li>
          <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">예약관리</a>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item" role="presentation" href="/admin/reservation">예약내역</a>
              <a class="dropdown-item" role="presentation" href="/admin/reservation/all">전체내역</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>