<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
  <div class="container"><a class="navbar-brand logo" href="/">MCAFE</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse"
         id="navbarNav">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation"><a class="nav-link" href="/user/reservation">주문하러가기</a></li>
        {{#login}}
        <li class="nav-item" role="presentation"><a class="nav-link">{{login.name}}</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="/user/myReserve">주문내역</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="/user/logout">로그아웃</a></li>
        {{/login}}
        {{^login}}
        <li class="nav-item" role="presentation"><a class="nav-link" href="/user/login">로그인</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="/user/join">회원가입</a></li>
        {{/login}}
      </ul>
    </div>
  </div>
</nav>
{{#notify}}
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap-notify.min.js"></script>
<script>
    $.notify({
            icon: 'fa fa-paw',
            message: '{{notify}}'
        }, {
            type: 'danger',
            offset: {
                x : 50,
                y : 130
            },
          delay : 3000
        }
    );
</script>
{{/notify}}